This is dataset of used cars from eBay Kleinanzeigen, a classifieds 
section of the German eBay website.

The dataset was originally scraped and uploaded to Kaggle. 

There are sampled 50,000 data points from the full dataset, for code to
run quickly.
This is dirtied the dataset to more closely resemble what you would expect
from a scraped dataset.

In [256]:
import pandas as pd
import numpy as np
autos = pd.read_csv('autos.csv', encoding = "Latin-1")

In [257]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [258]:
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [259]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [260]:
#editing column names
autos.rename( {
    'yearOfRegistration':'registration_year',
    'monthOfRegistration':'registration_month',
    'notRepairedDamage':'unrepaired_damage',
    'dateCreated':'ad_created',
    'dateCrawled':'date_crawled'
    }, axis = 1, inplace = True )
#lowering all columns
new_columns = []
for column in autos.columns:
    lowered_columns = column.lower()
    new_columns.append(lowered_columns)
autos.columns = new_columns
autos.head()
autos.rename( {
    'lastseen':'last_seen',
    'postalcode':'postal_code',
    'fueltype': 'fuel_type',
    'offertype': 'offer_type',
    'vehicletype':'vehicle_type',
    'abtest': 'abtest'
    }, axis = 1, inplace = True )

I changed column names to more standard and readeble name. Also I changed column names from camelcase to snakecase to never worry about format of letter

Now let's do some basic data exploration to determine what other cleaning 
tasks need to be done. Initially we will look for: - Text columns where 
all or almost all values are the same. These can often be dropped as they 
don't have useful information for analysis. - Examples of numeric data 
stored as text which can be cleaned and converted.

In [261]:
autos.describe()

,registration_year,powerps,registration_month,nrofpictures,postal_code
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

Most likely, we shall drop nrofpictures (basicaly no values there) and datecrawled (equal to ad_created) columns. We shall need to make new digit columns, remove "$" symbol from price, "km" from odometer column

In [262]:
#removing '$' from price and stripping of extra spaces
autos['price'] = (autos['price']
                  .str.replace("$","")
                  .str.replace(",","")
                  .str.strip()
                 )
#removing 'km' from odometer and stripping of extra spaces
autos['odometer'] = (autos['odometer']
                     .str.replace("km","")
                     .str.replace(",","")
                     .str.strip()
                    )
#renaming columns
autos.rename( {'odometer':'odometer_km'}, axis = 1, inplace = True)
#making both columns numeric type
autos['price'] = autos['price'].astype(int)
autos['odometer_km'] = autos['odometer_km'].astype(int)

In [263]:
autos.describe()

,price,registration_year,powerps,odometer_km,registration_month,nrofpictures,postal_code
count,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,9.840044e+03,2005.073280,116.355920,125732.700000,5.723360,0.0,50813.627300
std,4.811044e+05,105.712813,209.216627,40042.211706,3.711984,0.0,25779.747957
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1.100000e+03,1999.000000,70.000000,125000.000000,3.000000,0.0,30451.000000
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000,0.0,49577.000000
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000,0.0,71540.000000
max,1.000000e+08,9999.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000

In [264]:
def description(series, tf = False):
    #this function gives overall description over digit columns
    print('unique values', series, "\n", autos[series].unique().shape, "\n")
    print(series, 'parameters', "\n", autos[series].describe(), "\n")
    print('value counts', series, "\n", autos[series].
      value_counts(dropna=False)
      .head()
      .sort_index(ascending = tf))
    return series

description('odometer_km', False)
description('price', True)   
autos["price"].value_counts().sort_index(ascending=False).head(20)

unique values odometer_km
 (13,)

odometer_km parameters
 count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

value counts odometer_km
 150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
Name: odometer_km, dtype: int64
unique values price
 (2357,)

price parameters
 count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

value counts price
 0       1421
500      781
1000     639
1500     734
2500     643
Name: price, dtype: int64

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
Name: price, dtype: int64

In [265]:
#making filter over data
def filter(column, x, y):
    print(autos[autos[column].between(x,y)])
    return column

filter('odometer_km', 100000,110000)
filter('price', 10000,20000)

              date_crawled                                               name  \
68     2016-04-03 17:36:59  Mini_cooper_s_clubman_/vollausstattung_/_Navi/...
125    2016-03-17 17:56:46                                     Seat_Altea_1_6
131    2016-04-03 14:49:09                                  Audi_A3_Sportback
149    2016-03-12 13:51:26                                     Kia_Sephia_GTX
160    2016-03-31 02:36:24                                         BMW_M5_DKG
170    2016-03-17 14:38:23    Fiat_Seicento_1.1_Top_zustand_mit_tuev_servo___
184    2016-04-04 23:56:50  Peugeot_207_75_Urban_Move__Panoramadach__Klima...
219    2016-03-09 14:45:23                                    Opel_Zafira_2.2
222    2016-03-27 15:58:44                                  Opel_Astra_Cabrio
249    2016-03-18 17:37:34                   Dodge_Caliber_SXT_1.8_Benzin_Gas
271    2016-03-20 18:42:22                          Audi_A4_Avant_2.0_TDI_DPF
275    2016-03-07 18:41:56     Chrsyler_Neon_gepflegt_wegen_Neukauf_abzugeben
281    2016-03-18 13:06:16                                    Opel_vectra_1.8
283    2016-04-02 00:55:53                            3_Fahrzeug_zu_Verkaufen
296    2016-03-07 19:43:23                      Dodge_Nitro_4.0_Automatik_R/T
347    2016-04-02 11:48:02                                  Volvo_TP21__Sugga
365    2016-03-23 10:41:11                                  66erExport_Kaefer
411    2016-03-17 22:38:14                      VW_Golf_6_2.0_TDI_Comfortline
444    2016-03-08 16:56:05                    Insignia_2.0_DIESEL_FULL_OPTION
468    2016-03-31 19:54:44                               Opel_Astra_1.6_Sport
471    2016-03-10 10:51:21                         BMW_316i_compact_automatik
485    2016-03-22 17:57:58                            Super_Chrysler_neon_2.0
518    2016-03-28 16:38:38                            Jaguar_XK_3.5_Coupe_TOP
564    2016-03-18 20:36:47                                 Opel_Corsa_1.2_16V
654    2016-04-01 15:48:34              Ich_verkaufe_meinen_gepflegten_daewoo
655    2016-03-29 12:51:11                    Volkswagen_Polo_1.2_Comfortline
658    2016-03-26 15:57:05                                   Pontiac_Firebird
670    2016-03-27 00:38:14                 Kia_Picanto_1.1_EX_mit_Klimaanlage
679    2016-04-04 16:25:26  Vivaro_2.0_CDTI_Life_Westfalia_Klima_7_Sitzer_...
684    2016-03-30 20:40:49                           Volkswagen_Fox_1.2_Fresh
...                    ...                                                ...
49063  2016-03-09 20:49:06                                         Opel_kombi
49088  2016-04-04 13:37:44                       Renault_Megane_Cabriolet_2.0
49137  2016-03-23 11:47:18                                  Smart_Cabrio_Voll
49150  2016-03-21 11:06:19                            Hyundai_2_4_2WD_Edition
49151  2016-04-01 13:38:15                     Mercedes_Benz_A_190_L_Elegance
49169  2016-03-16 04:36:23                Mercedes_Benz_C180_Kombi!AMG_Paket!
49174  2016-04-01 20:50:49                                         Opel_Astra
49200  2016-03-16 17:56:46                                Audi_A4_Avant_1.8_T
49222  2016-03-07 15:49:01                Ford_Ka_Gruen_Baujahr_2001_TÜV_5/17
49248  2016-03-30 15:58:55                        Peugeot_207CC_150_THP_Sport
49251  2016-03-17 10:57:44                                 Ford_Fiesta_Viva_X
49253  2016-03-27 20:48:00                                        VW_Polo_1.0
49255  2016-04-01 19:43:54                       BMW_330_Ci_Edition_Exclusive
49312  2016-03-30 22:38:33                                    Ford_Fiesta_1.3
49411  2016-03-28 12:58:19                            Renault_twingo_Tuev_neu
49431  2016-03-19 15:36:31                                Vw_Golf_1_9_TDI_DSG
49524  2016-03-11 17:06:16  Mercedes_Benz_E_300_T_CDI_7G_TRONIC_Avantgarde...
49541  2016-03-11 00:36:59  Renault_Modus_1.6_16V__HU_bis_Nov._2017__guter...
49583  2016-03-12 23:37:14  Mercedes_Benz_SLK_200___nur_96.000_km__8_fach_...
49710  2016-03-24 20:52:58                           Volkswagen_Passat_1.8_5V
49743  2016-03-07 05:46:26   BMW_116i_FACELIFT__DSC__ABS__PDC_6_Gang__TÜV_neu
49744  2016-04-04 23:25:24  Mercedes_Benz_E500_AMG_Styling_Exklusiv_Junge_...
49782  2016-03-24 08:51:17                  Smart_Smart_fortwo_coupe_softouch
49826  2016-03-25 16:38:05                 Opel_Meriva_1.4_ecoflex_Innovation
49918  2016-04-03 13:46:18  Peugeot_206_cc_1_6_16V_Coupe_Cabrio__schwarz_L...
49921  2016-03-05 14:29:00  Smart_ForTwo_Cabrio_Schwarz_HU+AU_bis_Oktober_...
49931  2016-03-22 16:54:39   LANCIA_luxusausstattung_limosine_1.8_fuer_export
49952  2016-03-21 21:45:33  VW_POLO__9N3_Silber_1_2_Ltr._5_tuerer__96_tsd....
49975  2016-03-27 20:51:39          Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort
49995  2016-03-27 14:38:19   Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon

       seller offer_type  price   abtest vehicle_type  registration_year  \
68     privat    Angebot  10990     test          NaN               2017
125    privat    Angebot   4000  control          bus               2005
131    privat    Angebot  11900     test    limousine               2009
149    privat    Angebot    550  control    limousine               1997
160    privat    Angebot  50500     test    limousine               2012
170    privat    Angebot    890  control   kleinwagen               1999
184    privat    Angebot   4490  control   kleinwagen               2009
219    privat    Angebot   2400     test          bus               2001
222    privat    Angebot   1600  control       cabrio               1996
249    privat    Angebot   5200     test    limousine               2007
271    privat    Angebot  18299     test        kombi               2012
275    privat    Angebot   2000  control    limousine               2001
281    privat    Angebot    900     test    limousine               1996
283    privat    Angebot    500     test          NaN               2000
296    privat    Angebot  11500  control          suv               2007
347    privat    Angebot      0     test          suv               1956
365    privat    Angebot   7200  control    limousine               1967
411    privat    Angebot  10250     test          NaN               2009
444    privat    Angebot   6000     test    limousine               2010
468    privat    Angebot   3850  control    limousine               2005
471    privat    Angebot   2100     test       andere               1999
485    privat    Angebot    490  control    limousine               2002
518    privat    Angebot  22650     test        coupe               2007
564    privat    Angebot   2200     test   kleinwagen               2003
654    privat    Angebot   2000     test          NaN               2017
655    privat    Angebot   4270     test   kleinwagen               2007
658    privat    Angebot   6800     test        coupe               1991
670    privat    Angebot   2650     test   kleinwagen               2006
679    privat    Angebot   6000     test          bus               2012
684    privat    Angebot   3500  control   kleinwagen               2007
...       ...        ...    ...      ...          ...                ...
49063  privat    Angebot   4000     test          bus               2005
49088  privat    Angebot   2500  control       cabrio               1998
49137  privat    Angebot   5555     test       cabrio               2007
49150  privat    Angebot   4800     test          suv               2004
49151  privat    Angebot   1550     test    limousine               2001
49169  privat    Angebot  15890  control        kombi               2009
49174  privat    Angebot   4000     test   kleinwagen               2004
49200  privat    Angebot  13450  control        kombi               2003
49222  privat    Angebot    500  control   kleinwagen               2001
49248  privat    Angebot   6900     test       cabrio               2007
49251  privat    Angebot   2200     test   kleinwagen               2005
49253  privat    Angebot    700  control   kleinwagen               1995
49255  privat    Angebot  14550  control       cabrio               2005
49312  privat    Angebot   3890  control   kleinwagen               2007
49411  privat    Angebot   1550     test          NaN               2018
49431  privat    Angebot   6800  control        kombi               2008
49524  privat    Angebot  25900  control        kombi               2012
49541  privat    Angebot   2499     test          bus               2006
49583  privat    Angebot   7400  control       cabrio               2000
49710  privat    Angebot   3100     test    limousine               1999
49743  privat    Angebot   7399     test    limousine               2007
49744  privat    Angebot  29999     test    limousine               2010
49782  privat    Angebot   4650  control   kleinwagen               2009
49826  privat    Angebot   8500  control          bus               2010
49918  privat    Angebot   5050  control       cabrio               2007
49921  privat    Angebot   2350     test       cabrio               2000
49931  privat    Angebot    799     test    limousine               2003
49952  privat    Angebot   4300  control   kleinwagen               2005
49975  privat    Angebot   9700  control   kleinwagen               2012
49995  privat    Angebot  24900  control    limousine               2011

         gearbox  powerps     model  odometer_km  registration_month  \
68       manuell      174   clubman       100000                   0
125      manuell      105     altea       100000                  11
131      manuell      160        a3       100000                  12
149      manuell       80    andere       100000                   2
160    automatik      560   m_reihe       100000                   3
170      manuell       55  seicento       100000                  11
184      manuell       73   2_reihe       100000                   3
219          NaN        0    zafira       100000                   5
222      manuell       75     astra       100000                  10
249      manuell      150    andere       100000                   0
271      manuell      177        a4       100000                   4
275      manuell      133    andere       100000                   9
281    automatik      115       NaN       100000                   5
283          NaN        0       NaN       100000                   0
296    automatik      260       NaN       100000                   7
347          NaN        0    andere       100000                   0
365      manuell       44    kaefer       100000                   8
411      manuell      110      golf       100000                   5
444    automatik      160  insignia       100000                   9
468      manuell      105     astra       100000                   2
471    automatik      105       3er       100000                  10
485      manuell        1    andere       100000                  11
518    automatik      258    andere       100000                   9
564      manuell      102     corsa       100000                  11
654      manuell        0     kalos       100000                   5
655      manuell       64      polo       100000                   3
658      manuell      140       NaN       100000                  12
670      manuell       65   picanto       100000                   3
679      manuell      114    vivaro       100000                   6
684      manuell       54       fox       100000                  12
...          ...      ...       ...          ...                 ...
49063    manuell      131    zafira       100000                   6
49088    manuell      116    megane       100000                   5
49137  automatik       84    fortwo       100000                   3
49150    manuell      145     santa       100000                  11
49151  automatik      125  a_klasse       100000                  11
49169  automatik      156  c_klasse       100000                  12
49174    manuell       90     astra       100000                   0
49200  automatik      163        a4       100000                   7
49222    manuell        0        ka       100000                  11
49248    manuell      150   2_reihe       100000                  12
49251    manuell       69    fiesta       100000                   5
49253    manuell       45      polo       100000                   0
49255    manuell      231       3er       100000                  10
49312    manuell       69    fiesta       100000                   3
49411        NaN        0    twingo       100000                   0
49431  automatik      105      golf       100000                   9
49524  automatik      231  e_klasse       100000                   2
49541    manuell       88     modus       100000                   6
49583    manuell      136       slk       100000                   1
49710  automatik      125    passat       100000                   6
49743    manuell      116       1er       100000                   5
49744  automatik      387  e_klasse       100000                  10
49782  automatik       71    fortwo       100000                   9
49826    manuell      120    meriva       100000                  12
49918    manuell      109   2_reihe       100000                   2
49921  automatik       54    fortwo       100000                   4
49931    manuell      131     lybra       100000                   2
49952    manuell       64      polo       100000                   3
49975  automatik       88      jazz       100000                  11
49995  automatik      239        q5       100000                   1

      fuel_type           brand unrepaired_damage           ad_created  \
68          NaN            mini              nein  2016-04-03 00:00:00
125      benzin            seat              nein  2016-03-17 00:00:00
131      benzin            audi              nein  2016-04-03 00:00:00
149      benzin             kia              nein  2016-03-12 00:00:00
160      benzin             bmw              nein  2016-03-31 00:00:00
170      benzin            fiat              nein  2016-03-17 00:00:00
184      benzin         peugeot              nein  2016-04-04 00:00:00
219      benzin            opel              nein  2016-03-09 00:00:00
222      benzin            opel               NaN  2016-03-27 00:00:00
249         lpg        chrysler              nein  2016-03-18 00:00:00
271      diesel            audi              nein  2016-03-20 00:00:00
275      benzin        chrysler              nein  2016-03-07 00:00:00
281         NaN            opel              nein  2016-03-18 00:00:00
283         NaN  sonstige_autos               NaN  2016-04-01 00:00:00
296      benzin  sonstige_autos              nein  2016-03-07 00:00:00
347         NaN           volvo               NaN  2016-04-02 00:00:00
365      benzin      volkswagen               NaN  2016-03-23 00:00:00
411      diesel      volkswagen               NaN  2016-03-17 00:00:00
444      diesel            opel              nein  2016-03-08 00:00:00
468      benzin            opel              nein  2016-03-31 00:00:00
471      benzin             bmw              nein  2016-03-10 00:00:00
485         NaN        chrysler              nein  2016-03-22 00:00:00
518      benzin          jaguar              nein  2016-03-28 00:00:00
564      benzin            opel              nein  2016-03-18 00:00:00
654      benzin          daewoo               NaN  2016-04-01 00:00:00
655      benzin      volkswagen              nein  2016-03-29 00:00:00
658      benzin  sonstige_autos              nein  2016-03-26 00:00:00
670      benzin             kia              nein  2016-03-26 00:00:00
679      diesel            opel              nein  2016-04-04 00:00:00
684      benzin      volkswagen              nein  2016-03-30 00:00:00
...         ...             ...               ...                  ...
49063    benzin            opel              nein  2016-03-09 00:00:00
49088    benzin         renault              nein  2016-04-04 00:00:00
49137    benzin           smart              nein  2016-03-23 00:00:00
49150    benzin         hyundai              nein  2016-03-21 00:00:00
49151    benzin   mercedes_benz                ja  2016-04-01 00:00:00
49169    benzin   mercedes_benz              nein  2016-03-16 00:00:00
49174    benzin            opel              nein  2016-04-01 00:00:00
49200    benzin            audi              nein  2016-03-16 00:00:00
49222    benzin            ford               NaN  2016-03-07 00:00:00
49248    benzin         peugeot              nein  2016-03-30 00:00:00
49251    benzin            ford               NaN  2016-03-17 00:00:00
49253    benzin      volkswagen               NaN  2016-03-27 00:00:00
49255    benzin             bmw              nein  2016-04-01 00:00:00
49312    benzin            ford              nein  2016-03-30 00:00:00
49411       NaN         renault               NaN  2016-03-28 00:00:00
49431    diesel      volkswagen               NaN  2016-03-19 00:00:00
49524    diesel   mercedes_benz              nein  2016-03-11 00:00:00
49541    benzin         renault              nein  2016-03-11 00:00:00
49583    benzin   mercedes_benz              nein  2016-03-12 00:00:00
49710    benzin      volkswagen              nein  2016-03-24 00:00:00
49743    benzin             bmw              nein  2016-01-10 00:00:00
49744    benzin   mercedes_benz              nein  2016-04-04 00:00:00
49782    benzin           smart              nein  2016-03-24 00:00:00
49826       lpg            opel              nein  2016-03-25 00:00:00
49918    benzin         peugeot              nein  2016-04-03 00:00:00
49921    benzin           smart               NaN  2016-02-16 00:00:00
49931    benzin          lancia                ja  2016-03-22 00:00:00
49952    benzin      volkswagen              nein  2016-03-21 00:00:00
49975    hybrid           honda              nein  2016-03-27 00:00:00
49995    diesel            audi              nein  2016-03-27 00:00:00

       nrofpictures  postal_code            last_seen
68                0        83135  2016-04-05 17:26:26
125               0        34474  2016-04-06 02:45:09
131               0        56727  2016-04-03 14:49:09
149               0        52391  2016-03-12 13:51:26
160               0        16225  2016-04-05 19:15:29
170               0        63739  2016-03-17 14:38:23
184               0        51647  2016-04-07 09:15:23
219               0        48165  2016-04-06 08:46:14
222               0        21033  2016-04-05 11:47:51
249               0        99441  2016-04-05 22:44:34
271               0        53842  2016-04-07 01:46:39
275               0        45478  2016-03-08 10:44:31
281               0        65934  2016-03-18 13:06:16
283               0        89073  2016-04-06 04:16:23
296               0        88212  2016-04-07 09:45:27
347               0        34414  2016-04-04 09:15:24
365               0         1259  2016-04-07 10:16:29
411               0        75181  2016-03-18 00:41:13
444               0        30419  2016-03-08 16:56:05
468               0        12207  2016-04-06 14:18:08
471               0        18182  2016-03-19 15:46:03
485               0        40233  2016-03-22 17:57:58
518               0        94051  2016-03-28 16:38:38
564               0        74172  2016-03-20 05:46:57
654               0        10555  2016-04-07 13:50:05
655               0        93101  2016-03-29 12:51:11
658               0        13585  2016-04-06 04:15:52
670               0        46147  2016-04-07 03:16:43
679               0        60311  2016-04-04 16:37:17
684               0         2826  2016-04-07 12:45:15
...             ...          ...                  ...
49063             0        47051  2016-03-20 03:15:33
49088             0         6618  2016-04-06 14:45:04
49137             0        17213  2016-04-07 12:47:05

'price'

To include missing values in the distribution and to use percentages instead of counts, we chain the Series.value_counts(normalize=True, dropna=False) method.
To rank by date in ascending order (earliest to latest), we chain the Series.sort_index() method.

In [266]:
def normalizing_function(column_name):
    print(autos[column_name]
            .str[:10]
            .value_counts(normalize=True, dropna=False)
            .sort_index(ascending=False)
            )
    return column_name
normalizing_function('date_crawled')
normalizing_function('last_seen')


normalizing_function('ad_created')

2016-04-07    0.00142
2016-04-06    0.00318
2016-04-05    0.01310
2016-04-04    0.03652
2016-04-03    0.03868
2016-04-02    0.03540
2016-04-01    0.03380
2016-03-31    0.03192
2016-03-30    0.03362
2016-03-29    0.03418
2016-03-28    0.03484
2016-03-27    0.03104
2016-03-26    0.03248
2016-03-25    0.03174
2016-03-24    0.02910
2016-03-23    0.03238
2016-03-22    0.03294
2016-03-21    0.03752
2016-03-20    0.03782
2016-03-19    0.03490
2016-03-18    0.01306
2016-03-17    0.03152
2016-03-16    0.02950
2016-03-15    0.03398
2016-03-14    0.03662
2016-03-13    0.01556
2016-03-12    0.03678
2016-03-11    0.03248
2016-03-10    0.03212
2016-03-09    0.03322
2016-03-08    0.03330
2016-03-07    0.03596
2016-03-06    0.01394
2016-03-05    0.02538
Name: date_crawled, dtype: float64
2016-04-07    0.13092
2016-04-06    0.22100
2016-04-05    0.12428
2016-04-04    0.02462
2016-04-03    0.02536
2016-04-02    0.02490
2016-04-01    0.02310
2016-03-31    0.02384
2016-03-30    0.02484
2016-03-29    0.02234
2016-03-28    0.02086
2016-03-27    0.01602
2016-03-26    0.01696
2016-03-25    0.01920
2016-03-24    0.01956
2016-03-23    0.01858
2016-03-22    0.02158
2016-03-21    0.02074
2016-03-20    0.02070
2016-03-19    0.01574
2016-03-18    0.00742
2016-03-17    0.02792
2016-03-16    0.01644
2016-03-15    0.01588
2016-03-14    0.01280
2016-03-13    0.00898
2016-03-12    0.02382
2016-03-11    0.01252
2016-03-10    0.01076
2016-03-09    0.00986
2016-03-08    0.00760
2016-03-07    0.00536
2016-03-06    0.00442
2016-03-05    0.00108
Name: last_seen, dtype: float64
2016-04-07    0.00128
2016-04-06    0.00326
2016-04-05    0.01184
2016-04-04    0.03688
2016-04-03    0.03892
2016-04-02    0.03508
2016-04-01    0.03380
2016-03-31    0.03192
2016-03-30    0.03344
2016-03-29    0.03414
2016-03-28    0.03496
2016-03-27    0.03090
2016-03-26    0.03256
2016-03-25    0.03188
2016-03-24    0.02908
2016-03-23    0.03218
2016-03-22    0.03280
2016-03-21    0.03772
2016-03-20    0.03786
2016-03-19    0.03384
2016-03-18    0.01372
2016-03-17    0.03120
2016-03-16    0.03000
2016-03-15    0.03374
2016-03-14    0.03522
2016-03-13    0.01692
2016-03-12    0.03662
2016-03-11    0.03278
2016-03-10    0.03186
2016-03-09    0.03324
               ...
2016-02-21    0.00006
2016-02-20    0.00004
2016-02-19    0.00006
2016-02-18    0.00004
2016-02-17    0.00002
2016-02-16    0.00002
2016-02-14    0.00004
2016-02-12    0.00006
2016-02-11    0.00002
2016-02-09    0.00004
2016-02-08    0.00002
2016-02-07    0.00002
2016-02-05    0.00004
2016-02-02    0.00004
2016-02-01    0.00002
2016-01-29    0.00002
2016-01-27    0.00006
2016-01-22    0.00002
2016-01-16    0.00002
2016-01-14    0.00002
2016-01-13    0.00002
2016-01-10    0.00004
2016-01-07    0.00002
2016-01-03    0.00002
2015-12-30    0.00002
2015-12-05    0.00002
2015-11-10    0.00002
2015-09-09    0.00002
2015-08-10    0.00002
2015-06-11    0.00002
Name: ad_created, Length: 76, dtype: float64

'ad_created'

In [267]:
print(autos["ad_created"].str[:10].unique().shape)

(76,)

In [268]:
autos['registration_year'].describe()

count    50000.000000
mean      2005.073280
std        105.712813
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

In [269]:
autos["price"].value_counts().sort_index(ascending=True).head(20)

0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
13       2
14       1
15       2
17       3
18       1
20       4
25       5
29       1
30       7
35       1
Name: price, dtype: int64

In [270]:
autos = autos[autos["price"].between(1,351000)]
autos["price"].describe()

count     48565.000000
mean       5888.935591
std        9059.854754
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price, dtype: float64

There is a large variety of ad created dates. Most fall within 1-2 months of the listing date, but a few are quite old, with the oldest at around 9 months.

We use Series.describe() to understand the distribution of registration_year.

In [271]:
autos['registration_month'].describe()

count    48565.000000
mean         5.782251
std          3.685595
min          0.000000
25%          3.000000
50%          6.000000
75%          9.000000
max         12.000000
Name: registration_month, dtype: float64

In [272]:
autos['registration_year'].describe()

count    48565.000000
mean      2004.755421
std         88.643887
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

The year that the car was first registered will likely indicate the age of the car. Looking at this column, we note some odd values. The minimum value is 1000, long before cars were invented and the maximum is 9999, many years into the future.

he highest and lowest acceptable values will be defined as 1950 and 2019 for the registration_year column. It is unlikely that there is still a car that has registration more than 60 years old. Even if there is, there must be small ammount of that cars and they should not effect our observations.

In [273]:
(~autos["registration_year"].between(1900,2020)).sum() / autos.shape[0]

0.00041181921136621024

In [274]:
autos = autos[autos['registration_year'].between(1900,2020)]

In [275]:
autos['registration_year'].value_counts(normalize=True)

2000    0.065012
2005    0.060480
1999    0.059677
2004    0.055680
2003    0.055598
2006    0.055001
2001    0.054300
2002    0.051210
1998    0.048676
2007    0.046905
2008    0.045628
2009    0.042950
1997    0.040190
2011    0.033433
2010    0.032733
2017    0.028674
1996    0.028283
2012    0.026985
1995    0.025276
2016    0.025131
2013    0.016541
2014    0.013657
1994    0.012957
2018    0.009682
1993    0.008755
2015    0.008075
1992    0.007622
1990    0.007148
1991    0.006983
1989    0.003584
          ...
1976    0.000433
1969    0.000391
1975    0.000371
1965    0.000350
1964    0.000247
1963    0.000165
1959    0.000124
1961    0.000124
1910    0.000103
1937    0.000082
1962    0.000082
1958    0.000082
1956    0.000082
1950    0.000062
1955    0.000041
2019    0.000041
1934    0.000041
1957    0.000041
1951    0.000041
1941    0.000041
1954    0.000041
1953    0.000021
1948    0.000021
1927    0.000021
1943    0.000021
1929    0.000021
1939    0.000021
1938    0.000021
1931    0.000021
1952    0.000021
Name: registration_year, Length: 81, dtype: float64

Seems like most cars were registed in 2000, as expected, the older the car the less percentage it has in registry

the next step in our research is data aggregation.
We shall:
- Identify the unique values we want to aggregate by
- Create an empty dictionary to store our aggregate data
- Loop over the unique values, and for each:
    - Subset the dataframe by the unique values
    - Calculate the mean of whichever column we're interested in
    - Assign the val/mean to the dict as k/v.

In [276]:
autos['brand'].value_counts(normalize = True).head(20)

volkswagen        0.212813
opel              0.108641
bmw               0.108641
mercedes_benz     0.095787
audi              0.085858
ford              0.069667
renault           0.047894
peugeot           0.029457
fiat              0.025996
seat              0.018931
skoda             0.016068
nissan            0.015264
mazda             0.015223
smart             0.014296
citroen           0.014111
toyota            0.012586
hyundai           0.009950
sonstige_autos    0.009641
volvo             0.009043
mini              0.008611
Name: brand, dtype: float64

I'm aggregating for top 20 brends in dataset

In [277]:
mean_price_by_brand = {}

In [278]:
brands = autos['brand'].value_counts(normalize = True).head(20).index
brands

Index(['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat', 'skoda', 'nissan', 'mazda', 'smart',
       'citroen', 'toyota', 'hyundai', 'sonstige_autos', 'volvo', 'mini'],
      dtype='object')

In [279]:
for brand in brands:
    selected_brand = autos[autos['brand'] == brand]
    mean_price = selected_brand['price'].mean()
    mean_price_by_brand[brand] = int(mean_price)
mean_price_by_brand

{'audi': 9212,
 'bmw': 8261,
 'citroen': 3756,
 'fiat': 2793,
 'ford': 3728,
 'hyundai': 5371,
 'mazda': 4059,
 'mercedes_benz': 8526,
 'mini': 10541,
 'nissan': 4669,
 'opel': 2941,
 'peugeot': 3065,
 'renault': 2431,
 'seat': 4320,
 'skoda': 6353,
 'smart': 3518,
 'sonstige_autos': 12208,
 'toyota': 5148,
 'volkswagen': 5333,
 'volvo': 4866}

most expencive brand sonstige_autos, least expensive - fiat

In [280]:
top_6_brands = autos['brand'].value_counts(normalize = True).head(6).index
mean_price_d = {}
mean_mileage = {}
for brand in top_6_brands:
    selected_brand = autos[autos['brand'] == brand]
    mean_price = selected_brand['price'].mean()
    mean_price_d[brand] = int(mean_price)
for brand in top_6_brands:
    selected_brand = autos[autos['brand'] == brand]
    mean_odometer = selected_brand['odometer_km'].mean()
    mean_mileage[brand] = int(mean_odometer)

In [281]:
top_6_brands = pd.Series(top_6_brands)

In [286]:
df = pd.DataFrame(top_6_brands,columns =['mean_price_d'] )
df["mean_mileage"] = mean_mileage

In [287]:
df

    mean_price_d   mean_mileage
0     volkswagen     volkswagen
1           opel           audi
2            bmw            bmw
3  mercedes_benz           ford
4           audi  mercedes_benz
5           ford           opel